/** POSITION **/
@mixin translateXY ($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}
@mixin translateY ($y) {
  -webkit-transform: translateY($y);
  -moz-transform: translateY($y);
  -ms-transform: translateY($y);
  -o-transform: translateY($y);
  transform: translateY($y);
}
/** BORDER **/
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
/** SHADOW **/
@mixin box-shadow ($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
/** @MEDIA QUERIES **/
@mixin more-than-768 {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin less-than-768 {
  @media only screen and (max-width: 768px) {
    @content;
  }
}