/** GENERAL **/
$full-width: 100%;
$auto-margin: auto;
$zero-margin: 0px;
$extended-padding: 3% 1% 3% 10%;

/** BACKGROUNDS **/
$black-bg: #000000;
$darkgray-bg: #4a4a4a;
$lightgray-bg: #f0f0f0;
$gray-bg: #d8d8d8;

/** FONT SIZE **/
$small: 0.8em;
$regular: 1em;
$bigger: 1.2em;
$big: 2em;
/** TEXT COLORS **/
$white: #ffffff;
$black: #000000;

/** FONTS **/
$open-sans: 'Open Sans', sans-serif;